In [1]:
import pandas as pd

# ---- Business Menu & Pricing Data ----

data = [
    {
        "business_id": "turn0business0",
        "name": "Yard & Coop Manchester",
        "city": "Manchester",
        "menu_types": ["buttermilk fried chicken", "wings", "burgers", "sides"],
        "price_level": "££",  # mid-range
        "meal_deals": ["Combo Meal (chicken + side + drink) £13-£18"],
        "target_customers": ["young professionals", "groups"],
        "avg_order_value": 16.50,
        "estimated_weekly_customers": 1200
    },
    {
        "business_id": "turn0business1",
        "name": "Bird of Prey",
        "city": "Manchester",
        "menu_types": ["spicy fried chicken", "charcoal fries", "burgers"],
        "price_level": "£",
        "meal_deals": ["Sharing Box Deals £10-£18"],
        "target_customers": ["students", "late-night diners"],
        "avg_order_value": 12.00,
        "estimated_weekly_customers": 900
    },
    {
        "business_id": "turn0business3",
        "name": "Popeyes Louisiana Chicken",
        "city": "Manchester",
        "menu_types": ["Louisiana chicken", "buns", "tenders"],
        "price_level": "£",
        "meal_deals": ["Wrap Combo £5-£10"],
        "target_customers": ["families", "budget customers"],
        "avg_order_value": 9.00,
        "estimated_weekly_customers": 2000
    },
    {
        "business_id": "turn0business14",
        "name": "Dixy Chicken Manchester",
        "city": "Manchester",
        "menu_types": ["classic fried chicken", "chips", "drinks"],
        "price_level": "£",
        "meal_deals": ["Meal for Two £12.99; Single Meal £6.99"],  # example from delivery data
        "target_customers": ["students", "value seekers"],
        "avg_order_value": 7.50,
        "estimated_weekly_customers": 1500
    },
    {
        "business_id": "turn0business12",
        "name": "Dallas Chicken & Pizza",
        "city": "Manchester",
        "menu_types": ["fried chicken", "pizza"],
        "price_level": "£",
        "meal_deals": ["Chicken Bucket + Pizza combo £18-£23"],
        "target_customers": ["mixed groups", "night-out crowd"],
        "avg_order_value": 15.00,
        "estimated_weekly_customers": 800
    },
    {
        "business_id": "turn0business16",
        "name": "Philadelphia Fried Chicken",
        "city": "Greater Manchester",
        "menu_types": ["fried chicken wings", "burgers"],
        "price_level": "£",
        "meal_deals": ["Wing Meal + Drink £9.99"],
        "target_customers": ["college students", "takeaway crowd"],
        "avg_order_value": 10.00,
        "estimated_weekly_customers": 700
    },
    {
        "business_id": "turn0business17",
        "name": "Slim Chickens",
        "city": "Manchester",
        "menu_types": ["tenders", "salads", "southern sides"],
        "price_level": "££",
        "meal_deals": ["Family Meal Deals £20-£30"],
        "target_customers": ["families", "western food lovers"],
        "avg_order_value": 22.00,
        "estimated_weekly_customers": 950
    },
    {
        "business_id": "turn0business10",
        "name": "Florida Fried Chicken",
        "city": "Manchester",
        "menu_types": ["fried chicken boxes", "fries"],
        "price_level": "£",
        "meal_deals": ["Chicken Box Deals £7-£12"],
        "target_customers": ["takeaway budget"],
        "avg_order_value": 8.50,
        "estimated_weekly_customers": 650
    },
    {
        "business_id": "turn0business9",
        "name": "Kong's Chicken Shop",
        "city": "Manchester",
        "menu_types": ["fried chicken", "burger boxes"],
        "price_level": "£",
        "meal_deals": ["Combo Boxes £10-£15"],
        "target_customers": ["students", "urban diners"],
        "avg_order_value": 12.00,
        "estimated_weekly_customers": 750
    },
    {
        "business_id": "turn0business18",
        "name": "Gaza Fried Chicken",
        "city": "Manchester",
        "menu_types": ["fried chicken wraps", "sides"],
        "price_level": "£",
        "meal_deals": ["Wrap Meal + Drink £9.99"],
        "target_customers": ["value seekers", "takeaway lunch"],
        "avg_order_value": 9.50,
        "estimated_weekly_customers": 550
    }
]

df = pd.DataFrame(data)

df.head()

,business_id,name,city,menu_types,price_level,meal_deals,target_customers,avg_order_value,estimated_weekly_customers
0,turn0business0,Yard & Coop Manchester,Manchester,"[buttermilk fried chicken, wings, burgers, sides]",££,[Combo Meal (chicken + side + drink) £13-£18],"[young professionals, groups]",16.5,1200
1,turn0business1,Bird of Prey,Manchester,"[spicy fried chicken, charcoal fries, burgers]",£,[Sharing Box Deals £10-£18],"[students, late-night diners]",12.0,900
2,turn0business3,Popeyes Louisiana Chicken,Manchester,"[Louisiana chicken, buns, tenders]",£,[Wrap Combo £5-£10],"[families, budget customers]",9.0,2000
3,turn0business14,Dixy Chicken Manchester,Manchester,"[classic fried chicken, chips, drinks]",£,[Meal for Two £12.99; Single Meal £6.99],"[students, value seekers]",7.5,1500
4,turn0business12,Dallas Chicken & Pizza,Manchester,"[fried chicken, pizza]",£,[Chicken Bucket + Pizza combo £18-£23],"[mixed groups, night-out crowd]",15.0,800

In [2]:
# ----- Add margin & profit estimates -----
margin_rate = 0.25  # 25% net profit assumption after cost of goods + wages

df["weekly_revenue"] = df["avg_order_value"] * df["estimated_weekly_customers"]
df["weekly_profit"] = df["weekly_revenue"] * margin_rate
df["yearly_profit"] = df["weekly_profit"] * 52

df[[
    "name", "city", "avg_order_value",
    "estimated_weekly_customers", "weekly_revenue",
    "weekly_profit", "yearly_profit"
]]

,name,city,avg_order_value,estimated_weekly_customers,weekly_revenue,weekly_profit,yearly_profit
0,Yard & Coop Manchester,Manchester,16.5,1200,19800.0,4950.00,257400.0
1,Bird of Prey,Manchester,12.0,900,10800.0,2700.00,140400.0
2,Popeyes Louisiana Chicken,Manchester,9.0,2000,18000.0,4500.00,234000.0
3,Dixy Chicken Manchester,Manchester,7.5,1500,11250.0,2812.50,146250.0
4,Dallas Chicken & Pizza,Manchester,15.0,800,12000.0,3000.00,156000.0
5,Philadelphia Fried Chicken,Greater Manchester,10.0,700,7000.0,1750.00,91000.0
6,Slim Chickens,Manchester,22.0,950,20900.0,5225.00,271700.0
7,Florida Fried Chicken,Manchester,8.5,650,5525.0,1381.25,71825.0
8,Kong's Chicken Shop,Manchester,12.0,750,9000.0,2250.00,117000.0
9,Gaza Fried Chicken,Manchester,9.5,550,5225.0,1306.25,67925.0