In [1]:
import pandas as pd
import numpy as np

In [2]:
pizza_businesses = [
    {
        "business": "Domino's Manchester",
        "location": "Manchester",
        "type": "Chain",
        "menu_deals": ["Carryout Deals", "Mix & Match Specials"],
        "avg_price": 12,
        "est_daily_customers": 180,
        "customer_types": "Students, Families"
    },
    {
        "business": "Papa Johns Manchester Central",
        "location": "Manchester",
        "type": "Chain",
        "menu_deals": ["Buy One Get One Free", "Bundle Deals"],
        "avg_price": 15,
        "est_daily_customers": 140,
        "customer_types": "Families, Late Night"
    },
    {
        "business": "Nell’s Pizza",
        "location": "Manchester",
        "type": "Local",
        "menu_deals": ["Exclusive Mailing Deals", "Birthday Offers"],
        "avg_price": 20,
        "est_daily_customers": 70,
        "customer_types": "Dinner Crowd, Young Adults"
    },
    {
        "business": "Rudy’s Pizza Sale",
        "location": "Manchester",
        "type": "Local",
        "menu_deals": ["Group Bookings", "Party Packages"],
        "avg_price": 18,
        "est_daily_customers": 60,
        "customer_types": "Families, Groups"
    },
    {
        "business": "Proove Pizza West Didsbury",
        "location": "Manchester",
        "type": "Local",
        "menu_deals": ["Lunch Set Deal £11.90"],
        "avg_price": 17,
        "est_daily_customers": 50,
        "customer_types": "Lunch Crowd, Vegan-Friendly"
    },
    {
        "business": "Franco Manca UK",
        "location": "UK",
        "type": "Chain",
        "menu_deals": ["Lunch Deals ~£12.50"],
        "avg_price": 15,
        "est_daily_customers": 400,
        "customer_types": "Casual Diners"
    },
    {
        "business": "PizzaExpress UK",
        "location": "UK",
        "type": "Chain",
        "menu_deals": ["Offers with rewards club"],
        "avg_price": 22,
        "est_daily_customers": 350,
        "customer_types": "Families, Date Nights"
    },
    {
        "business": "Pizza Hut UK",
        "location": "UK",
        "type": "Chain",
        "menu_deals": ["Any Size from ~£9.99 Deals"],
        "avg_price": 20,
        "est_daily_customers": 450,
        "customer_types": "Family Meals, Football Nights"
    },
    {
        "business": "Pizza Pilgrims UK",
        "location": "UK",
        "type": "Chain",
        "menu_deals": ["Feasting Menus £25 pp"],
        "avg_price": 25,
        "est_daily_customers": 200,
        "customer_types": "Group Events, Parties"
    }
]

In [3]:
df = pd.DataFrame(pizza_businesses)
df

,business,location,type,menu_deals,avg_price,est_daily_customers,customer_types
0,Domino's Manchester,Manchester,Chain,"[Carryout Deals, Mix & Match Specials]",12,180,"Students, Families"
1,Papa Johns Manchester Central,Manchester,Chain,"[Buy One Get One Free, Bundle Deals]",15,140,"Families, Late Night"
2,Nell’s Pizza,Manchester,Local,"[Exclusive Mailing Deals, Birthday Offers]",20,70,"Dinner Crowd, Young Adults"
3,Rudy’s Pizza Sale,Manchester,Local,"[Group Bookings, Party Packages]",18,60,"Families, Groups"
4,Proove Pizza West Didsbury,Manchester,Local,[Lunch Set Deal £11.90],17,50,"Lunch Crowd, Vegan-Friendly"
5,Franco Manca UK,UK,Chain,[Lunch Deals ~£12.50],15,400,Casual Diners
6,PizzaExpress UK,UK,Chain,[Offers with rewards club],22,350,"Families, Date Nights"
7,Pizza Hut UK,UK,Chain,[Any Size from ~£9.99 Deals],20,450,"Family Meals, Football Nights"
8,Pizza Pilgrims UK,UK,Chain,[Feasting Menus £25 pp],25,200,"Group Events, Parties"

In [4]:
# Estimate weekly revenue
df["weekly_revenue"] = df["avg_price"] * df["est_daily_customers"] * 7

# Estimate annual revenue
df["annual_revenue"] = df["weekly_revenue"] * 52

df[["business", "location", "weekly_revenue", "annual_revenue"]]

                        business    location  weekly_revenue  annual_revenue
0            Domino's Manchester  Manchester           15120          786240
1  Papa Johns Manchester Central  Manchester           14700          764400
2                   Nell’s Pizza  Manchester            9800          509600
3              Rudy’s Pizza Sale  Manchester            7560          393120
4     Proove Pizza West Didsbury  Manchester            5950          309400
5                Franco Manca UK          UK           42000         2184000
6                PizzaExpress UK          UK           53900         2802800
7                   Pizza Hut UK          UK           63000         3276000
8              Pizza Pilgrims UK          UK           35000         1820000

In [5]:
# Define profit margin ranges
df["profit_margin"] = np.where(df["type"] == "Chain", 0.18, 0.12)

df["weekly_profit"] = df["weekly_revenue"] * df["profit_margin"]
df["annual_profit"] = df["annual_revenue"] * df["profit_margin"]

df[["business", "weekly_profit", "annual_profit"]]

                        business  weekly_profit  annual_profit
0            Domino's Manchester         2721.6       141523.2
1  Papa Johns Manchester Central         2646.0       137592.0
2                   Nell’s Pizza         1176.0        61152.0
3              Rudy’s Pizza Sale          907.2        47174.4
4     Proove Pizza West Didsbury          714.0        37128.0
5                Franco Manca UK         7560.0       393120.0
6                PizzaExpress UK         9702.0       504504.0
7                   Pizza Hut UK        11340.0       589680.0
8              Pizza Pilgrims UK         6300.0       327600.0

In [6]:
demo_map = {
    "Students, Families": 1.0,
    "Families, Late Night": 1.1,
    "Dinner Crowd, Young Adults": 0.9,
    "Families, Groups": 1.0,
    "Lunch Crowd, Vegan-Friendly": 0.8,
    "Casual Diners": 1.0,
    "Families, Date Nights": 1.0,
    "Family Meals, Football Nights": 1.2,
    "Group Events, Parties": 1.3,
}

df["demographic_index"] = df["customer_types"].map(demo_map)

df["adj_annual_revenue"] = df["annual_revenue"] * df["demographic_index"]

df

,business,location,type,menu_deals,avg_price,est_daily_customers,customer_types,weekly_revenue,annual_revenue,profit_margin,weekly_profit,annual_profit,demographic_index,adj_annual_revenue
0,Domino's Manchester,Manchester,Chain,"[Carryout Deals, Mix & Match Specials]",12,180,"Students, Families",15120,786240,0.18,2721.6,141523.2,1.0,786240.0
1,Papa Johns Manchester Central,Manchester,Chain,"[Buy One Get One Free, Bundle Deals]",15,140,"Families, Late Night",14700,764400,0.18,2646.0,137592.0,1.1,840840.0
2,Nell’s Pizza,Manchester,Local,"[Exclusive Mailing Deals, Birthday Offers]",20,70,"Dinner Crowd, Young Adults",9800,509600,0.12,1176.0,61152.0,0.9,458640.0
3,Rudy’s Pizza Sale,Manchester,Local,"[Group Bookings, Party Packages]",18,60,"Families, Groups",7560,393120,0.12,907.2,47174.4,1.0,393120.0
4,Proove Pizza West Didsbury,Manchester,Local,[Lunch Set Deal £11.90],17,50,"Lunch Crowd, Vegan-Friendly",5950,309400,0.12,714.0,37128.0,0.8,247520.0
5,Franco Manca UK,UK,Chain,[Lunch Deals ~£12.50],15,400,Casual Diners,42000,2184000,0.18,7560.0,393120.0,1.0,2184000.0
6,PizzaExpress UK,UK,Chain,[Offers with rewards club],22,350,"Families, Date Nights",53900,2802800,0.18,9702.0,504504.0,1.0,2802800.0
7,Pizza Hut UK,UK,Chain,[Any Size from ~£9.99 Deals],20,450,"Family Meals, Football Nights",63000,3276000,0.18,11340.0,589680.0,1.2,3931200.0
8,Pizza Pilgrims UK,UK,Chain,[Feasting Menus £25 pp],25,200,"Group Events, Parties",35000,1820000,0.18,6300.0,327600.0,1.3,2366000.0

In [7]:
summary = df.groupby("location").agg({
    "annual_revenue": "sum",
    "adj_annual_revenue": "sum",
    "annual_profit": "sum"
}).reset_index()

summary

     location  annual_revenue  adj_annual_revenue  annual_profit
0  Manchester         2762760           2726360.0       424569.6
1          UK        10082800          11284000.0      1814904.0